<div class="login-container">
  <div class="login-card">
    <img src="/logo.png" alt="Top Logo" class="top-logo" />
    <div class="brand-name">Aptlyst</div>

    <div class="login-heading">Login</div>
    <div class="welcome-text">Welcome back</div>

    <form>
      <input type="email" placeholder="Email" name="email" />
      <input type="password" placeholder="Password" name="password" />

      <div class="forgot-password">
        <a href="#">Forgot Password?</a>
      </div>

      <button type="submit">Login</button>
    </form>

    <div class="signup-option">
      Don't have an account?
      <a routerLink="/signup">Create one</a>
    </div>
  </div>
</div>
