.card-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: grey;
    max-width: 70%;
    margin-left:15%;
    border-radius: 30px;
    height:auto;
}
.card{
    padding:5vh;
    background-color: grey;
    border-radius: 30px;
    
}
.head{
    display: flex;
    align-items: center;
    gap:20px;
    background-color: grey;
}
.logo{
    width:40px;
    height: auto;
    background-color: grey;
}
.title{
    background-color: grey;
}

