<div class="card-container">
    <div class="card">
        <div class="top">
            <img src="" alt="logo">
            <p class="heading">List Properties with Ease</p>
        </div>
        <div class="text">
            <p class="description">Quickly create listings with all the essential details —  pricing, location, and more. Our intuitive form makes adding properties effortless.</p>
        </div>
        <div class="img">
            <img src="" alt="illustration">
        </div>
    </div>
</div>
