<navbar></navbar>
<hero></hero>
<div class="features-wrapper">
    <h2 class="heading">Our Features</h2>
    <div class="features-section">
        <f-card
            title="Easy Listing Creation"
            description="Create detailed property listings with our intuitive interface. Add photos, descriptions, and key features effortlessly."
            icon="bx-list-plus"
            image="listing.svg">
        </f-card>
        <f-card
            title="Smart Management"
            description="Organize properties into groups, track performance, and manage inquiries all in one place."
            icon="bx-buildings"
            image="management.svg">
        </f-card>
        <f-card
            title="Real-time Analytics"
            description="Get valuable insights about your listings with detailed analytics and performance reports."
            icon="bx-chart"
            image="analytics.svg">
        </f-card>
        <f-card
            title=" Secure Property Management"
            description="All your data stays private and secure with protected access to your property dashboard and listings."
            icon="bx-calendar-check"
            image="secure.svg">
        </f-card>
        <f-card
            title="Dedicated Broker Support"
            description="Our support team is available to assist brokers with platform issues, listing queries, or technical guidance."
            icon="bx-folder"
            image="support.svg">
        </f-card>
        <f-card
            title="Communication Hub"
            description="Easily connect with other brokers to share property details, discuss leads, or negotiate—all within the platform"
            icon="bx-message-square-dots"
            image="communication.svg">
        </f-card>
    </div>
</div>
<app-footer></app-footer>
