<navbar></navbar>
<div class="pricing-section">
    <div class="cards">
        <div class="card">
            <div class="head">
            <p class="heading">Basic</p>
            <p class="divider">---------------------------</p>
            <p class="price">299</p>
            <button class="btn">get Started</button>
            </div>
            <div class="list">
            <p>100 listings</p>
            <p>b</p>
            <p>c</p>
            <p>d</p>
            <p>e</p>
            </div>
        </div>
        <div class="card">
            <div class="head">
            <p class="heading">Standard</p>
            <p class="divider">---------------------------</p>
            <p class="price">399</p>
            <button class="btn">get Started</button>
            </div>
            <div class="list">
            <p class="l">100 listings</p>
            <p >b</p>
            <p>c</p>
            <p>d</p>
            <p>e</p>
            </div>
        </div>
        <div class="card">
            <div class="head">
            <p class="heading">Plus</p>
            <p class="divider">---------------------------</p>
            <p class="price">499</p>
            <button class="btn">get Started</button>
            </div>
            <div class="list">
            <p >100 listings</p>
            <p >b</p>
            <p >c</p>
            <p >d</p>
            <p >e</p>
            </div>
        </div>
    </div>
</div>